html {
  box-sizing: border-box;
  font-family: "Playfair Display", "Ubuntu", serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
.navigation {
  text-align: center;
  max-width: 901px;
  margin: 0 auto;
}
.menu {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 115px;
}
.menu_item {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 124px;
}

.menu_item:last-child {
  margin-right: 0;
}
.menu_item-link {
  color: #626262;
  text-decoration: none;
}
.menu_item-link:hover {
  color: #9addfb;
}
.centre-content {
  text-align: center;
  margin: 0 auto;
}
.box-top {
  text-align: center;
  width: 901px;
}
.left-box {
  display: inline-block;
  text-align: left;
  width: 421px;
  margin-right: 61px;
  margin-left: 150px;
  margin-bottom: 136px;
}
.left__box-img {
  margin-bottom: 33px;
}
.left__box-h5 {
  text-transform: uppercase;
  margin-bottom: 31px;
  color: #c7c1b6;
}
.left__box-h2 {
  color: #626262;
}
.left__box-text {
  color: #626262;
}
.right-box {
  display: inline-block;
  text-align: right;
  width: 421px;
  margin-right: 150px;
  margin-bottom: 136px;
}

.right__box-img {
  margin-bottom: 33px;
}
.right__box-h5 {
  text-transform: uppercase;
  margin-bottom: 31px;
  text-align: left;
  color: #c7c1b6;
}
.right__box-h2 {
  text-align: left;
  color: #626262;
}
.right__box-text {
  text-align: left;
  color: #626262;
}

.box-middle {
  text-align: center;
}
.middle-left-box {
  display: inline-block;
  text-align: left;
  width: 421px;
  margin-right: 61px;
  margin-left: 150px;
  margin-bottom: 136px;
}
.middle-left__box-img {
  margin-bottom: 33px;
}
.middle-left__box-h5 {
  text-transform: uppercase;
  margin-bottom: 31px;
  color: #c7c1b6;
}
.middle-left__box-h2 {
  color: #626262;
}
.middle-left__box-text {
  color: #626262;
}
.middle-right-box {
  display: inline-block;
  text-align: right;
  width: 421px;
  margin-right: 150px;
  margin-bottom: 136px;
}
.middle-right__box-img {
  margin-bottom: 33px;
}
.middle-right__box-h5 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 31px;
  color: #c7c1b6;
}
.middle-right__box-h2 {
  color: #626262;
  text-align: left;
}
.middle-right__box-text {
  color: #626262;
  text-align: center;
}
.bottom-box {
  text-align: center;
  margin: 0 auto;
}
.bottom-left-box {
  display: inline-block;
  text-align: left;
  width: 421px;
  margin-right: 61px;
  margin-left: 150px;
  margin-bottom: 136px;
}
.bottom-left__box-img {
  margin-bottom: 33px;
}
.bottom-left__box-h5 {
  text-transform: uppercase;
  margin-bottom: 31px;
  color: #c7c1b6;
}
.bottom-left__box-h2 {
  margin-bottom: 42px;
  color: #626262;
}
.bottom-left__box-text {
  color: #626262;
}
.bottom-right-box {
  display: inline-block;
  text-align: right;
  width: 421px;
  margin-right: 150px;
  margin-bottom: 136px;
}
.bottom-right__box-img {
  margin-bottom: 33px;
}
.bottom-right__box-h5 {
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 31px;
  color: #c7c1b6;
}
.bottom-right__box-h2 {
  color: #626262;
  text-align: left;
  margin-bottom: 42px;
}
.bottom-right__box-text {
  color: #626262;
  text-align: left;
}
.btn {
  background-color: white;
  color: #626262;
  border: 1px solid #555555;
  display: inline-block;
  text-align: center;
  padding: 27px 36px;
  margin-top: -60px;
  margin-bottom: 70px;
}
