:root {
	--ff-montserrat: "Montserrat", sans-serif;
	--ff-montserrat-bold: "Montserrat Bold", sans-serif;
	--ff-kaushan: "Kaushan Script", cursive;
	--ff-roboto: "Roboto", sans-serif;
	--color-main-light: #9de3d6;
	--color-main-light-alt: #f38181;
	--color-transparent-light-alt: rgba(243,129,129,.9);
	--color-main-dark: #999;
	--color-main-dark-alt: #333;
	--color-bg-social: #fce38a;
	--color-transparent-bg-social: rgba(252,227,138,.9);
}
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 auto;
  background-color: #fff;
}
.hedader {
  width: 1200px;
}

.menu {
  display: flex;
  justify-content: space-around;
  color: #95e1d3;
	margin-top: 30px;
	margin-bottom: 113px;
}

.menu__logo {
  display: inline-block;

  font-size: 40px;
}

.menu__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.menu__navigation__link {
  display: flex;
  flex-direction: row;

  text-transform: uppercase;
  list-style: none;
}
.menu__link {
  margin-right: 57px;
}

.menu__link__line {
  color: #95e1d3;
  text-decoration: none;
}

.menu__line {
  width: 100%;
  height: 3px;
  background-color: #f38181;
  opacity: 0;
  margin-top: 12px;
  transition: all 200ms linear;
}
.menu__link__line:hover {
  color: #f38181;
}
.menu__link__line:hover + .menu__line {
  opacity: 1;
}
.services {
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	width: 71rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service-wrapper {
	width: 30.1%;
	margin-bottom: 6rem;
	display: flex;
}

.service-wrapper:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.service-img {
	margin-right: 1.75rem;
}

.service {
	flex: 1;
}

.service-title {
	margin-bottom: .875rem;
	font-family: var(--ff-montserrat);
	font-size: .875rem;
	color: var(--color-main-dark-alt);
	text-transform: uppercase;
}

.bg-creativity {
width: 32px; height: 40px;
	background: url('../img/icons/creativity.png') ;
	background-repeat: no-repeat;
}

.bg-digital {
width: 32px; height: 40px;
	background: url('../img/icons/digital.png') ;
	background-repeat: no-repeat;
}

.bg-htmlcss {
	width: 32px; height: 40px;
	background: url('../img/icons/htmlcss.png') ;
	background-repeat: no-repeat;
}

.bg-photography {
	width: 32px; height: 40px;
	background: url('../img/icons/photography.png') ;
	background-repeat: no-repeat;
}

.bg-webdesign {
width: 32px; height: 40px;
	background: url('../img/icons/webdesign.png') ;
	background-repeat: no-repeat;
}

.bg-seo {
width: 32px; height: 40px;
	background: url('../img/icons/seo.png') ;
	background-repeat: no-repeat;
}


.team {
	margin-top: 2.5rem;
	text-align: center;
}

.team-credo {
	width: 59.5rem;
	margin-left: auto;
	margin-right: auto;
}

.team-gallery {
	margin: 5.75rem auto;
	width: 75.625rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team-gallery-item {
	flex-basis: 380px; /*31.405%; /*23.75rem;*/
}

.team-gallery-item:not(:nth-child(3n)) {
	margin-right: 1.875rem;
}

.team-member-wrapper {
	position: relative;
	background-color: var(--color-main-light);
	height: 470px; /*29.375rem;*/
	margin-bottom: 1.75rem;
}

.team-member {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 29.375rem;
	display: flex;
	justify-content: center;
	overflow: hidden;
	transition: all .2s;
}

.team-member-wrapper:hover .team-member {
	transform: translate(-.625rem, -.625rem);
}

.team-member-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-member-name {
	margin-bottom: .5rem;
	text-transform: uppercase;
	font-family: var(--ff-montserrat);
	font-size: .875rem;
	font-weight: bold;
	color: var(--color-main-dark-alt);
}

.team-member-activity {
	font-family: var(--ff-roboto);
	font-size: 0.94rem;
	font-style: italic;
	font-weight: normal;
}

.team-member-socials {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%/*29.375rem*/;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, var(--color-transparent-light-alt), var(--color-transparent-bg-social));
	visibility: hidden;
}

.team-member-wrapper:hover .team-member-socials {
	visibility: visible;
}

.team-member-social {
	background-color: var(--color-bg-social);
	border: none;
	outline: none;
	width: 3.5rem;
	height: 3.5rem;
}

.team-member-social:not(:last-child) {
	margin-right: 1px;
}

.team-member-social:hover {
	background-color: var(--color-main-light);
}

.bg-instagram {
	background-image: url('../img/icons/team/instagram.png');
	background-repeat: no-repeat;
background-position: center;
	
}

.bg-facebook {
	background-image: url('../img/icons/team/facebook.png');
	background-repeat: no-repeat;
	background-position: center;
}

.bg-twitter {
	background-image: url('../img/icons/team/twitter.png');
	background-repeat: no-repeat;
	background-position: center;
}

.bg-pinterest {
	background-image: url('../img/icons/team/pinterest.png');
	background-repeat: no-repeat;
	background-position: center;
}


.main-section {
	margin-bottom: 8rem;
}

.main-section:last-child {
	margin-bottom: 4rem;
}

.section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--color-main-dark-alt);
}

.section-title::after {
	content:'';
	width: 3.625rem;
	margin-top: 2rem;
	border-top: 0.2rem solid var(--color-main-light-alt);
}

.section-title-prefix {
	margin-bottom: 0.5rem;
	font-family: var(--ff-kaushan);
	font-size: 1.5rem;
	font-weight: 100;
}

.section-title-prefix::first-letter {
	text-transform: capitalize;
}

.section-title-body {
	font-family: var(--ff-montserrat-bold);
	font-size: 1.875rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.text {
	font-family: var(--ff-roboto);
	font-size: 0.94rem;
	font-weight: normal;
	line-height: 1.5rem;
	color: var(--color-main-dark);
}
footer {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #e5e5e5;
	padding: 15px 0;
	align-items: center;
	width: 1200px;
	margin-left: 150px;
}

footer p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333333;
}

footer p a {
	color: #f38181;
}

.subscribe_button {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #95e1d3;
	border: none;
	padding: 16px 40px;
	cursor: pointer;
	outline: none;
}

::placeholder {
	color: #e5e5e5;
	font-style: italic;
}

input {
	border: 1px solid #e5e5e5;
	border-right: none;
	outline: none;
	color: #333333;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 15px;
	width: 230px;
}

.subscribe {
	display: flex;
	justify-content: end;
}